*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ol,ul{
    list-style:none;
}
a{
    text-decoration:none;
    display:inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin:0;
    line-height:1.8px;
}
.container{
    width:1170px;
    margin:0 auto;
}
body{
    background:#fff;
}

/* =============================header-part-start============================== */
.header-left-text h3{
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    color: #baa769;
    text-align: left;
    padding-top: 35px;
    line-height:22px
}
.header-text-bottom-part a{
    font-family:'Poppins', sans-serif;
    text-align: left;
    color: #434343;
    text-transform: uppercase;
    font-size:15px;
    font-weight: 500;
    line-height:22px;
    margin-top:10px;
    text-align:right
}
.header-text-bottom-part a:hover{
    color:#baa769;
}
.header-right-part-1 ul{
    display:flex;
}
.header-right .header-right-part-1{
    display:flex;
    justify-content: end;
}
.header-right-part-1 ul li:last-child{
    margin-right:0;
}
.header-right-part-1 ul li{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    margin-right:17px;
    margin-left:17px;
    margin-top:7px;
    margin-bottom:5px;
    
}
/* =========================== */
.header-right-part-2 ul{
    display:flex;
}
.header-right-part-2 ul li:last-child{
    margin-right:0;
}
.header-right-part-2 ul li{
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    margin-right:15px;
    margin-left:15px;
}
.header-right .header-right-part-2{
    display:flex;
    justify-content: end;
}
.header-right-part-2 ul li:hover{
    color:#baa769;
}
/* =============================== */
.header-right-part-3 ul{
    display:flex;
}
.header-right-part-3 ul li:last-child{
    margin-right:0;
}
.header-right-part-3 ul li{
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    margin-right:17px;
    margin-left:17px;
}

.header-right .header-right-part-3{
    display:flex;
    justify-content:end;
}
.header-right-part-3 ul li:hover{
    color:#baa769;
}
/* =============================header-part-end============================== */
.navbar-expand-lg .navbar-nav .nav-link{
    color: #363636;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    padding-right:0;
    padding-right:0;
    margin-right:30px;
    margin-left:30px;
    text-align:center;
}
.navbar-expand-lg .navbar-nav .nav-link:last-child{
    margin-right:0;
}
.navbar-expand-lg .navbar-nav .nav-link .nav-splan{
    margin-left:5px;
    font-size:15px;
}
.navbar{
    background:#e5e1d3;
    padding:0;
}


/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */
/* =============================-part-start============================== */
/* =============================-part-end============================== */